.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    min-width: 24px;
    height: 24px;
    background-color: #000;
    // mask-image: url(../images/sprite.svg#icon-check);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: background-color .3s;
  }

  &--chip {
    &::before {
      mask-image: url(../images/chip.svg);
    }
  }
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: size(20, 18);
  overflow-x: hidden;
  transition: background-color .5s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  padding-top: 150px;
  position: relative;
  padding-bottom: 10px;

  @include r($phone) {
    padding-top: 65px;
  }
}

.container {
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo {
  max-width: 200px;

  @include r($phone) {
    max-width: 150px;
  }
}

.title {
  text-align: center;
  font-size: size(60, 45);
  margin-bottom: size(30, 10);
  font-weight: 500;
}

.lock {
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color .5s ease-in-out;
  }
}